/* LocationSelector.css */
.location-selector {
    font-family: Arial, sans-serif;
  }
  
  .location-item {
    margin-bottom: 15px;
    padding-left: 20px; /* Add left padding */
  }
  
  .radio-label {
    display: flex;
    align-items: center;
  }
  
  .radio-label input[type="radio"] {
    margin-right: 10px;
  }
  
  .location-name {
    font-size: 18px;
    font-weight: bold;
    margin-right: 10px;
  }
  
  .location-email {
    font-size: 14px;
    color: #888;
    padding-left: 10px; /* Add left padding */
  }
  